.svgWrapper {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: -1;
}

.svg {
   clip-path: circle(0 at top left);
   transition: clip-path .75s ease-out;
}

.visible {
   clip-path: circle(150% at top left);
}