.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer nav ul {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 1rem;
}

.footer nav ul li a {
   display: flex;
   align-items: center;
}