.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/* Left Area */
.header div:first-child svg {
   height: 35px;
}

/* Right Area */
.header div:last-child ul {
   display: flex;
   gap: 15px;
}

.header div:last-child ul a {
   padding: 10px;
   font-size: .9rem;
}

.sticky {
   position: fixed;
   top: 0;
   left: 0;
}