.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 20px;
   padding-bottom: 20px;
}

/* Left Area */
.header div:first-child svg {
   height: 35px;
}

/* Right Area */
.header div:last-child ul {
   display: flex;
   gap: 15px;
}

.header div:last-child ul a {
   padding: 10px;
   font-size: .9rem;
}