// https://nextjs.org/docs/basic-features/built-in-css-support#sass-variables
// :export {}

.main {
   display: grid;
   grid-template-columns: 1fr auto;

   @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
      section:last-of-type {
         & > * {
            margin: 0 auto;
         }
      }
   }

   section:first-of-type {
      display: grid;
      grid-template-rows: auto 1fr;
      header {
         display: flex;
         justify-content: space-between;
         height: 80px;
   
         & > div:first-of-type {
            display: flex;
            align-items: center;
            gap: 15px;
            h1 {
               font-size: 1.5rem;
            }
         }
   
         & > div:last-of-type {
            display: flex;
            align-items: center;
            gap: 15px;
         }
      }
   }

   article {
      display: flex;
      align-items: center;
      padding: 50px 80px;
      & > div > * {
         max-width: 600px;
      }
      h2 {
         font-size: 1.3rem;
         margin-bottom: 15px;
      }

      p {
         margin-bottom: 8px;
      }

      form {
         display: none;
      }
   }

   section:last-of-type {
      padding: 80px;
   }
}
