* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  letter-spacing: .5px;
  line-height: 1.75;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

.grid-cell {
  padding: 20px 26px;
}

.overlay {
  position: relative;
  display: grid;
}

.overlay > * {
  grid-area: 1 / 1;
}

#__next {
  padding: 30px;
}

/* two column grid */
#github-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#github-project > * {
  width: 100%;
}