.gridWrapper {
   position: relative;
   display: grid;

   & > * {
      grid-area: 1 / 1;
   }
}

.svgWrapper {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
   z-index: -1;
}

.noDash {
   stroke-dashoffset: 0 !important;
}